@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Noto Sans JP', sans-serif;
    
}
img{
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    border:2px solid skyblue;
}
img:hover{
    width: 20rem;
    height: 20rem;
    transition: 1s;
}

a{
    text-decoration: none;
    color: white;
}
.global_container{
    border:2px solid red;
    

}
.header{
    background-color: aquamarine;
    border-radius:0.8rem;
    margin: 0.8rem;
    text-align: center;
    font-size:2rem;
    font-weight: 900;
    text-transform: uppercase;

}
.nav_container{
    background-color:gray;
    margin: 0.8rem;
    border-radius:0.8rem;
   
}
.nav_container ul,li{
   color: white;
   list-style: none;
   
 
}
.nav_container li{
  margin: 10px;
  background-color: lightslategray;
  border-radius: 0.8rem;
  text-align: center;
}
.nav_container li a:hover{
    color: black;
}


.main_container{
    margin:0.8rem;
    border:3px solid palevioletred;
    border-radius: 0.8rem;
    display: flex;
    
    
}
.section_container{
   
    background: teal;
    border-radius: 0.8rem;
    margin: 0.8rem;
}
.global_article{
    background: salmon;
    margin: 0.8rem;
    border-radius:0.8rem;
    
   
}
.article >article{
    background-color: blanchedalmond;
    margin: 0.8rem;
    text-align: center;
    border-radius: 0.8rem ;
    width: 90%;
    margin-left:5%;
      
     
}

.aside_container{
    background-color: goldenrod;
    margin: 0.8rem;
    border-radius: 0.8rem;
    width: 10rem;
}

.footer_container{
    background-color: yellowgreen;
    margin:0.8rem;
    border-radius: 0.8rem;
    text-align: center;
}
.footer_img img{
    width: 2rem;
    height: 2rem;
    border: none;
    
}